
footer {
    background-color: #000000ff;
    font-family: 'Bebas Neue', cursive;
    flex: 0 0 auto;
  }

  .footerBoxFlex {
    background-color: #000000ff;
    width: 100%;
    height: 100px;
    padding: 3px;
    display: grid;
    grid-template-columns: 20% repeat(3, 1fr) 20%;
    grid-template-rows: 1fr;
    grid-template-areas: ". footerBox1 footerBox2 footerBox3 .";
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .footerBox1 {
    grid-area: footerBox1;
  }
  
  .footerBox2 {
    grid-area: footerBox2;
  }
  
  .footerBox3 {
    grid-area: footerBox3;
  }
  
  .footerBox {
    background-color: #000000ff;
    font-family: 'Bebas Neue', cursive;
    margin: 10px;
    text-align: center;
  }
  
  .footerBoxTitulo {
    color: #b8dbd9ff;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
    white-space: nowrap;
  }
  
  .footerBoxLista ul li {
    list-style: none;
    text-decoration: none;
    color: #f4f4f9ff;
    text-align: center;
    white-space: nowrap;
  
    a {
      list-style: none;
      text-decoration: none;
      color: #f4f4f9ff;
      margin-left: 5px;
      margin-right: 5px;
      text-align: center;
  
      img {
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
      }
    }
  }
  
  .footerBoxListaUL {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  
      a:hover {
        color: #b8dbd9ff;
        transform: scale(1.05);
      }
    }
  }