
footer {
    background-color: $color-fondo;
    font-family: $font-1, cursive;
    flex: 0 0 auto;
  }

  .footerBoxFlex {
    background-color: $color-fondo;
    width: 100%;
    height: 100px;
    padding: 3px;
    display: grid;
    grid-template-columns: 20% repeat(3, 1fr) 20%;
    grid-template-rows: 1fr;
    grid-template-areas: ". footerBox1 footerBox2 footerBox3 .";
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .footerBox1 {
    grid-area: footerBox1;
  }
  
  .footerBox2 {
    grid-area: footerBox2;
  }
  
  .footerBox3 {
    grid-area: footerBox3;
  }
  
  .footerBox {
    background-color: $color-fondo;
    font-family: $font-1, cursive;
    margin: 10px;
    text-align: center;
  }
  
  .footerBoxTitulo {
    color: $color-seleccion;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
    white-space: nowrap;
  }
  
  .footerBoxLista ul li {
    list-style: none;
    text-decoration: none;
    color: $color-contraste;
    text-align: center;
    white-space: nowrap;
  
    a {
      list-style: none;
      text-decoration: none;
      color: $color-contraste;
      margin-left: 5px;
      margin-right: 5px;
      text-align: center;
  
      img {
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
      }
    }
  }
  
  .footerBoxListaUL {
    @include flexbox (center,center);
    text-align: center;
  
    li {
      @extend .footerBoxListaUL;
      
      a:hover {
        color: $color-seleccion;
        transform: scale(1.05);
      }
    }
  }