
header {
    background-color: $color-fondo;
    flex: 0 0 auto;
  }

  .flexNavBar {
    width: 100%;
    @include flexbox (center,center);
    flex-wrap: wrap;
    text-align: center;
  }
  
  .logo {
    width: 250px;
    font-family: $font-1, cursive;
    font-size: 25px;
    color: $color-contraste;
    @include flexbox (center,center);
  
    a {
      text-decoration: none;
      color: $color-contraste;
    }
  }
  
  .logoImagen {
    width: 45px;
    height: 45px;
    margin: 5px;
  }
  
  .navBar {
    list-style-type: none;
    text-decoration: none;
    font-family: $font-1, cursive;
    font-size: 25px;
    color: $color-contraste;
    @include flexbox (center,center);
    text-align: center;
    flex-wrap: wrap;
  
    li {
      @include flexbox (center,center);
      width: 150px;
  
      a {
        list-style-type: none;
        text-decoration: none;
        font-family: $font-1, cursive;
        font-size: 25px;
        color: $color-contraste;
        white-space: nowrap;
        text-align: center;
  
        &:hover {
          color: $color-seleccion;
          font-size: 27px;
        }
      }
    }
  }

  .banner {
    height: 210px;
    width: 100%;
    overflow: hidden;
    @include flexbox (center,center);
  
    img {
      height: 200px;
      @include flexbox (center,center);
    }
  }
  
  .brandBar {
    list-style: none;
    text-decoration: none;
    font-family: $font-1, cursive;
    @include flexbox (center,center);
    flex-wrap: wrap;
  
    li {
      width: 120px;
      @include flexbox (center,center);
  
      a {
        padding: 3px;
      }
    }
  }
  
  .brandImg {
    width: 60px;
    height: 30px;
  
    &:hover {
      transform: scale(1.2);
    }
  }