
.qText {
    p {
      font-family: $font-2, sans-serif;
      font-size: 15px;
      color: $color-alt;
      text-align: justify;
    }
  
    img {
      margin: 10px;
      width: 100%;
    }
  }