
h1 {
    font-size: 30px;
    font-family: $font-1, cursive;
    margin-top: 5px;
    margin-bottom: 5px;
    @include flexbox (center,center);
  }
  
  h2 {
    font-family: $font-1, cursive;
    color: $color-fondo;
    font-size: 23px;
  }